<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Censor My Subtitle</title>
    <style>
        body{background:skyblue; font-family: verdana ; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
        form{text-align: center;}
    </style>
</head>
<body>
    <div>
        <h1>You have chosen the file ' <%= originalfilename %> '  </h1>
        <p>Click the button to start download</p>
        <p>Downloading may take some time depending on your file-size</p>
        <p>If you are censoring subtitles replace the .srt file with the downloaded file renamed to the original .srt file name</p>
        <form action="/download" method="get" enctype="multipart/form-data">
            <button type="submit">Start Downloading!</button>
        </form>
    </div>
</body>
</html>