<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Censor My Subtitle</title>
    <style>
        body{background:skyblue; font-family: verdana ; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
        form{text-align: center;}
    </style>
</head>
<body>
    <div>
        <h1>Censor My Subtitle Bruh!</h1>
        <form action="/filedownload" method="post" enctype="multipart/form-data">
            <input type="file" name="filedownload" />
            <button type="submit">Submit!</button>
        </form>
    </div>
</body>
</html>